:host{
    width: inherit;
}
div{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4px 2.5em;
    width: inherit;
    font-size: inherit;

    input{
        border: 0;
        outline: none;
        min-width: 1px;
        font-size: inherit;
        background-color: inherit;
        &.number{
            text-align: right;
        }
        &.decimals{
            text-align: left;
        }
    }
}