<h1>{{type}}</h1>
<section style="display: flex; row-gap: 1em; flex-direction: column;">
    <h2>Message box</h2>
    <div style="display: flex; column-gap: 1em; row-gap: 1em;">
        <button mat-stroked-button (click)="onMessageBox()">
            Mensaje
        </button>
        <button mat-stroked-button (click)="onMessageBox()">
            Mensaje Confirm
        </button>
        <button mat-stroked-button (click)="onMessageBox(true, true)">
            Mensaje Confirm disable close
        </button>
    </div>
    <div style="display: flex; column-gap: 1em; row-gap: 1em;">
        <button mat-stroked-button (click)="onMessageBoxAlert()">
            Alert
        </button>
        <button mat-stroked-button (click)="onMessageBoxAlert(true)">
            Alert Confirm
        </button>
        <button mat-stroked-button (click)="onMessageBoxAlert(true, true)">
            Alert Confirm disable close
        </button>
    </div>
    
<!-- 
    <div style="display: flex; column-gap: 1em; row-gap: 1em;">
        <button mat-stroked-button (click)="onMessageBoxInfo()">
            Info
        </button>
        <button mat-stroked-button (click)="onMessageBoxInfo(true)">
            Info Confirm
        </button>
        <button mat-stroked-button (click)="onMessageBoxInfo(true, true)">
            Info Confirm disable close
        </button>
    </div>
    <div style="display: flex; column-gap: 1em; row-gap: 1em;">
        <button mat-stroked-button (click)="onMessageBoxError()">
            Error
        </button>
        <button mat-stroked-button (click)="onMessageBoxError(true)">
            Error Confirm
        </button>
        <button mat-stroked-button (click)="onMessageBoxError(true, true)">
            Error Confirm disable close
        </button>
    </div>
</section> -->
<br>
<br>
<br>
<section>
    <app-inputs></app-inputs>
</section>

<br><br>
<div [mat-menu-trigger-for]="menu">
    Hola como estas
</div>
<span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></span>
<div  (contextmenu)="openContextMenu($event, matTrigger, spanTrigger)">
    Hola perrito que haceemos hoy
    <br>
    Menu context
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Hola</button>
</mat-menu>