<div mat-dialog-title>{{title}}</div>
<mat-dialog-content>
    {{title}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button>
        <i class="material-icons">done</i>
        <div>Si</div>
    </button>
    <button mat-button>
        <i class="material-icons">close</i>
        <div>No</div>
    </button>
    <!-- <button mat-button>
        <i class="material-icons">block</i>
        <div>Cancelar</div>
    </button> -->
</mat-dialog-actions>

<button tabindex="-1" mat-icon-button class="button-close">
    <i class="material-icons">close</i>
</button>
